@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab&family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;

}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(219, 236, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 250px;
    height: 340px;
    background-color: rgb(112, 112, 248);
    padding: 20px;
    box-shadow: 0px 3px 10px 2px rgb(0, 0, 139, 0.5);
    border-radius: 10px;
    transform: translate3d(0, 0, 0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.inputData {
    text-align: center;
}

.inputFiled {
    padding: 10px;
    font-size: 16px;
    width: 140px;
    outline: none;
    border: 1px solid rgb(219, 236, 250);
    border-radius: 110px;
    text-transform: capitalize;
}
.info{
    z-index: 13;
    margin-bottom: 30px;
    
}
.info h1{
    margin-bottom: 50px;
    font-size: 35px;
    color: white;
    text-transform: capitalize;
}
.info h2{
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}
.info h3{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 100;
    color: rgb(95, 94, 94);
    font-family: 'Roboto Slab', serif;

}

.error{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 50px;
    color: rgb(253, 231, 231);

}

.wave{
    opacity: 0.4;
    position: absolute;
    top: 120%;
    left: 50%;
    background: rgb(253, 253, 253);
    width: 20rem;
    height: 20rem;
    margin-left: -10rem;
    margin-top: -13rem;
    transform-origin: 50% 47%;
    border-radius: 100%;
    animation: waves 1000ms infinite linear;
    z-index: 1;

}
.wave.-three{
    animation: waves 2000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.3;

}
.wave.-two{
    animation: waves 3000ms infinite linear;
    z-index: 3 !important;
    opacity: 0.2;

}
@keyframes waves {
    from{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(360deg);
    }
    
}